<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Downloader</title>
    <link rel="icon" type="image/png" href="../static/icon.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <div class="header-container">
        <h1 class="title">Online Music Downloading Tool</h1>
        <h3 class="authors">Developed by Kayden Chung</h3>
    </div>

    <div class="search-container">
        <h1 class="title">Search for a Track</h1>
        <form id="search-form">
            <input id="searchbar" type="text" name="name" placeholder="Enter Track Name" required>
            <button class="submit-btn" type="submit">Search</button>
        </form>
    </div>

    <div id="result"></div>

    <script>

        const form = document.getElementById('search-form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const formData = new FormData(form);
            const response = await fetch('/search', {
                method: 'POST',
                body: formData
            });

            const data = await response.json();
            let resultDiv = document.getElementById('result');
            if (data.error) {
                resultDiv.innerHTML = `<p>${data.error}</p>`;
            } else {
                resultDiv.innerHTML = `
                    <p>Track Name: ${data.name}</p>
                    <p>Artist: ${data.artist}</p>
                    <p>Album: ${data.album}</p>
                    <p><a href="${data.url}" target="_blank">Listen on Spotify</a></p>
                `;
            }
        });

    </script>

</body>

</html>
